<h1>Contact us</h1>

<form [formGroup]="messageForm" (ngSubmit)="onSubmit()" *ngIf="!submitted || !success">

    <h5 *ngIf="success">Your form is valid!</h5>

    <label>
      Name:
      <input type="text" formControlName="name">
      <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
        <div *ngIf="messageForm.controls.name.errors.required">Your name is required</div>
      </div>
    </label>
    <label>
     Last name:
      <input type="text" formControlName="lastName">
      <div *ngIf="submitted && messageForm.controls.lastName.errors" class="error">
        <div *ngIf="messageForm.controls.lastName.errors.required">Your last name is required</div>
      </div>
    </label>
    <label>
     E-mail:
       <input type="text" formControlName="email">
       <div *ngIf="submitted && messageForm.controls.email.errors" class="error">
       </div>
     </label>
    <label>
      Message:
      <textarea formControlName="message"></textarea>
      <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
        <div *ngIf="messageForm.controls.message.errors.required">A message is required</div>
      </div>
    </label>

    <input type="submit" value="Send message" class="cta">
  </form>

<div *ngIf="submitted && success" class="results">
  <strong>Name:</strong> 
  <span>{{ messageForm.controls.name.value }}</span>

  <strong>Last name:</strong> 
  <span>{{ messageForm.controls.lastName.value }}</span>

  <strong>E-mail:</strong> 
  <span>{{ messageForm.controls.email.value }}</span>

  <strong>Message:</strong> 
  <span>{{ messageForm.controls.message.value }}</span>
</div>


