$blue: #3772ff;
$green: rgb(67, 105, 67);
$yellow: rgb(240, 240, 14);

.blue {
    color: $blue;
}

.green {
    color: $green;
    text-decoration: underline;
}

.button {
    margin: 3px;
    background-color: $yellow;
    min-height: 40px;
    border: none;
    border-radius: 3px;
}
